*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  height: 100vh;
}

.parentContainer{
  height: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.starCanvasContainer{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.formContainer{
  width: 60%;
}

.formClass{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customInput{
  width: 50%;
}

.leftPanel, .rightPanel{
  width: 50%;
}
